.information-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--information-background);
    max-width: 400px;
    border-left: 0;
}

header > h3 {
    margin-left: auto;
    margin-right: auto;
}

header > button {
    margin-right: 5px;
}

.information-wrapper > header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.button-row {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--board-border);
}

.previous-moves-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    flex-grow: 1;
    background-color: var(--previous-moves-background);
    max-height: 480px;
}

.move {
    min-width: 50%;
    max-height: 50px;
    border: 1px groove var(--board-border);
    box-sizing: border-box;
    text-align: left;
    color: black;
}

.move.white {
    background-color: var(--white-move-background);
}

.move.black {
    background-color: var(--black-move-background);
}

.fen-string {
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
}

button.information {
    height: 40px;
    width: 40px;
}

span.information {
    font-size: 25px;
    line-height: 40px;
}

@media (max-width: 1100px) {
    .information-wrapper {
        max-width: none;
    }

    .previous-moves-wrapper {
        display: none;
    }
}
