.board-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 640px;
    height: 640px;
    border: black 10px solid;
    background-color: black;
}
