.board-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-width: 700px;
    min-height: 700px;
    aspect-ratio: 1/1;
    background-color: black;
    max-width: 640px;
    border-right: var(--board-border) 10px solid;


}

.thick-border {
    border: var(--board-border) 16px solid;
    border-radius: 8px;
}

.promotion {
    display: grid;
    border: black 8px solid;
    border-top: 0;
    width: 40%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 320px;
}

.hidden {
    display: none;
}


.game-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;

}

.information-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--information-background);
    max-width: 400px;
    border-left: 0;
}

.information-wrapper>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.previous-moves-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    flex-grow: 1;
    background-color: var(--previous-moves-background);
    max-height: 480px;

}

.move {
    min-width: 50%;
    max-height: 50px;
    border: 1px groove var(--board-border);
    box-sizing: border-box;
    text-align: left;
    color: black;
}

.move.white {
    background-color: var(--white-move-background);
}

.move.black {
    background-color: var(--black-move-background);
}

.fen-string {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;

}

.eval-outer {
    position: relative;
    display: flex;
    width: 50px;
    background-color: white;
    border-right: var(--board-border) 10px solid;

}


.eval-inner {
    flex-grow: 1;
    width: 80px;
    background-color: black;
    border-right: 0;
    transition: max-height 2s ease-out;

}

.eval-number {
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    mix-blend-mode: difference;
    width: 50px;
}