.win-screen {
    background-color: rgba(0, 0, 0, 0.842);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.win-text {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 40pt;
}

.reset-btn {
    font-size: 40pt;
}

.reset-btn-container {
    position: absolute;
    top: 45%;
    font-size: 40pt;
    width: 100%;
}
