.tile {
    position: relative;
    width: 100%;
    height: 100%;
}

.id-no {
    color: green;
    font-weight: bold;
    text-align: left;
    position: absolute;
    width: 100%;
}

.en-passant {
    background-color: #001aff;
}

.black-tile {
    background-color: #5a7a5f;
}

.white-tile {
    background-color: #b4cebc;
}

.available-move {
    background-color: rgb(255, 248, 157);
}

.white-tile.available-move {
    background-color: rgb(255, 251, 194);
}

.black-tile.available-move {
    background-color: rgb(245, 239, 165);
}

.piece-icon {
    height: 100%;
    width: 100%;
}

.selected {
    background-color: crimson;
}
