.tile {
    width: 80px;
    height: 80px;
}

.en-passant {
    background-color: rgb(0, 26, 255);
}

.black-tile {
    background-color: #535a79;
}

.white-tile {
    background-color: #bfc0c0;
}

.available-move {
    background-color: rgb(255, 248, 157);
}

.piece-icon {
    height: 100%;
    width: 100%;
}

.selected {
    background-color: crimson;
}
